---
layout: default
title: Koo Lab
category: Research
tags: [Koo Lab, Peter Koo, deep learning, genomics, comptuational biology, deep genomics, cold spring harbor laboratory, CSHL, deep neural networks]
---
<div class='container'>
    <header class="masthead text-center">
<!--       <p align="center" style="font-size:28px">  We are actively recruiting postdocs and graduate students, see details <a href="https://koo-lab.github.io/Openings/">here</a>!
      </p>
-->
  <img class='img-responsive center-block' src="/images/main/cshl2.png" width="100%" height="100%"/>
      <br>
      
      <p align="justify"> 
        The <b>Koo Lab</b> studies the functional impact of genomic mutations through a computational lens using data-driven machine learning solutions. We are broadly interested in applications for studying gene regulation and protein (dys)function. Our approach develops methods to interpret high-performing deep learning models to distill knowledge that they learn from big, noisy biological sequence data. Our goal is to elucidate biological mechanisms that underlie sequence-function relationships, with a broader aim of advancing precision medicine for complex diseases, including cancer. We are part of the Simons Center for Quantitative Biology and the Cancer Center at Cold Spring Harbor Laboratory. 
      </p> 
      <br>
      <br>
      <br>
      <br>


      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 10184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <img align="left" class='img-responsive center-block' src="/images/logo.png" width="40%" height="40%"/>
      <img align="right" class='img-responsive center-block' src="/images/cshl_logo.png" width="25%" height="25%"/>

      <br>
      <br>
      <br>
      <br>
      <br>
      


    </header>
</div>

